<div class="maps-infobox">
  <h2 class="project-title">{{name}}</h2>
  <p class="project-location"><em>{{location}}</em></p>
  <p class="project-description">
	<img class="project-thumbnail" src="{{image}}" alt="{{name}}" />
	{{description}}
  </p>
  <p class="project-link">
	<a href="{{slug}}">View the project page &rsaquo;</a>
  </p>
</div>